# project
_site/
.sass-cache
.vagrant
.jekyll-cache/
.jekyll-metadata

# general
.DS_Store
Thumbs.db
ehthumbs.db

# submodule build artifacts
vendor/esp-web-tools/node_modules/
vendor/esp-web-tools/dist/
