<section class="download-section">

  <h1>🚀 Tải phần mềm Happy Smart Light</h1>

  <hr>

  <h2>🔧 POI TOOL HSL v1.5</h2>
  <ul>
    <li>
      <a href="https://github.com/happysmartlight/happysmartlight.github.io/raw/refs/heads/master/documents/POI_TOOL_HSL_v1.5_2025.zip?download=" download>
        ⬇️ Download POI TOOL HSL v1.5
      </a>
    </li>
    <li>
      <a href="/https://github.com/happysmartlight/happysmartlight.github.io/raw/refs/heads/master/documents/POI_TOOL_HSL_TERMINAL_v1.5_2025.zip?download=" download>
        ⬇️ Download POI TOOL HSL v1.5 (Có hiển thị log thông tin)
      </a>
    </li>
  </ul>

  <hr>

  <h2>🎭 Đạo cụ & Trang phục (TimeCode / xLights)</h2>

  <p>
    ⚠️ <strong>Lưu ý:</strong> Vui lòng tải <strong>cả 2 phần</strong>, đặt chung một thư mục và giải nén.
  </p>

  <ul>
    <li>
      <a href="/documents/xLights64_2025_13.7z.001" download>
        ⬇️ Download xLights – P1
      </a>
    </li>
    <li>
      <a href="/documents/xLights64_2025_13.7z.002" download>
        ⬇️ Download xLights – P2
      </a>
    </li>
  </ul>

</section>
