<!-- _includes/qr-zalo.html -->
<div class="qr-code">
  <p>Theo dõi Zalo OA HSL nhé</p>
  <a href="http://zalo.me/1321084611356589870?src=qr" target="_blank">
    <img src="/img/Picture-HSL/qrcode_with_logo.png" alt="QR Code HSL">
  </a>
</div>


<!-- ZALO OA -->

<div class="zalo-chat-widget" data-oaid="1321084611356589870" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="300" data-height="330"></div>
<script src="https://sp.zalo.me/plugins/sdk.js"></script>


<!-- Thêm vào body của trang -->
<!-- Icon Zalo gọi điện -->
<!-- <a href="https://zalo.me/{{ site.author.telephone }}" class="social-icon zalo">
   <img src="/img/Picture-HSL/Logo_ZALO.svg" alt="Gọi điện" />
</a> -->

<!-- Icon gọi điện -->
<a href="tel:{{ site.author.telephone }}" class="social-icon phone">
  <i class="fa fa-phone"></i> <!-- dùng font-awesome hoặc thay bằng <img> -->
</a>